body {
    margin: 0;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app-head {
    background-color: #333333;
    width: 100%;
    color: white;
    text-align: center;
    padding: 25px 0px;
    font-size: 40px;
}

#container {
    padding: 40px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo_list {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

.todo_item {
    width: 90%;
    background-color: whitesmoke;
    padding: 20px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}

.task_title {
    font-size: x-large;
    font-weight: 500;
}

.task_description {
    font-size: large;
}

.task_deadline {
    font-size: small;
}

.item_layout {
    margin-left: 30px;
    margin-bottom: 20px;
}


/* .todo_item :hover {
    padding: 30px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
} */

#new-item-form {
    text-align: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

#form_head {
    margin-bottom: 50px;
    font-size: 40px;
}

.form-elements {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin: 5px;
    font-size: large;
}

.design {
    padding: 15px;
    width: 94%;
    margin: 5px;
    border-radius: 5px;
    text-align: left;
}

input {
    padding: 10px;
    border: 0.5px solid #AAAAAA;
    border-radius: 5px;
}

#edit {
    width: 50%;
}

.add_btn {
    width: 100%;
    margin: 15px auto 40px;
    padding: 15px 10px;
    background-color: #333333;
    color: white;
    font-size: large;
    font-weight: 500;
    border: 0;
    border-radius: 8px;
    transition: all 0.3s;
}

.add_btn:hover {
    cursor: pointer;
    background-color: rgba(186, 220, 88, 0.8);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: black;
    font-weight: 700;
    padding: 20px 10px;
}

.del_btn {
    text-decoration: none;
    color: red;
    font-size: large;
}

.del_btn:hover,
.edit_btn:hover,
.done_btn:hover {
    font-size: x-large;
}

.edit_btn {
    text-decoration: none;
    color: darkgreen;
    font-size: large;
}

.done_btn {
    text-decoration: none;
    font-size: large;
    color: #551A8B;
}

.anchor_button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

@media only screen and (max-width: 700px) {
    body {
        padding-bottom: 40px;
    }
    #container {
        padding: 20px;
    }
    #app-head {
        font-size: 35px;
    }
    #new-item-form {
        width: 100%;
        margin: 0 auto;
    }
    #form_head {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .form-elements {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .design {
        text-align: center;
        width: 80%;
        padding: 15px;
        margin: 5px auto;
        border-radius: 7px;
    }
    #edit {
        margin-top: 35px;
    }
    .todo_list {
        width: 100%;
    }
    .todo_item {
        width: 80%
    }
    .item_layout {
        margin-left: 10px;
    }
    .task_deadline {
        font-size: medium;
    }
    .anchor_button {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .del_btn,
    .done_btn {
        margin-bottom: 16px;
    }
}